<div class='checkoutWrapper'>
  {{#if getIngredients}}
    <div class="guestsDiv">
      <div class="outOfRange">
        {{#if outOfRange}}
        <div>
          <span>Input out of range! Use 1 to 1000.</span>
        </div>
        {{/if}}
        <span class="guestsSpan">Guests</span>
        <br>
        {{input type="number" class="guestInput" value=updateGuests id="updateGuests" placeholder="1 - 1000" key-up="updateGuests"}}
      </div>
    </div>

    <ul class="removeFromCart">
      {{#each shoppingCart.recipes as |recipe|}}
      <li>{{recipe.name}} <span {{action 'removeFromCart' recipe}}><i class="fa fa-times-circle"></i></span> </li>
      {{/each}}
    </ul>

    <ul class='ingredientList'>
      {{#each getIngredients as |ingredient|}}
      <li>{{ingredient.amount}} {{ingredient.of}}</li>
      {{/each}}
    </ul>
    {{else}}
      <p>
        There are no drinks on your list yet.
      </p>

  {{/if}}
</div>
