{{#if getIngredients}}
  <div class="row">
    <div class="container">
      {{#if outOfRange}}
      <div class="container">
        <span>Input out of range! Use 1 to 1000.</span>
      </div>
      {{/if}}
      <span>Guests</span>
      {{input type="number" value=updateGuests id="updateGuests" placeholder="1 - 1000" key-up="updateGuests"}}
    </div>
  </div>
{{/if}}

{{#if getIngredients}}
  <ul>
    {{#each shoppingCart.recipes as |recipe|}}
      <li>| {{recipe.name}} [<span {{action 'removeFromCart' recipe}}>X</span>] | </li>
    {{/each}}
  </ul>

  <ul>
    {{#each getIngredients as |ingredient|}}
      <li>{{ingredient.amount}} {{ingredient.of}}</li>
    {{/each}}
  </ul>
{{/if}}
