{{#if opened}}
<div class="recipeTileDiv">
  <div class="drink-title-header">
    <h1 class="drinkTitleSelected" {{action 'close'}}>{{drinkName}}</h1>
    <p class="alcoholOrNot">({{drinkAlcoholic}})</p>

    {{#if killButton}}
      <div class="addDrinkButtonWrapper">
        <span class="addDrinkButtonText">Add Drink</span>
        <button class="putOnTabButton-Disabled" {{action 'addToCart'}} disabled><i class="fa fa-plus"></i></button>
      </div>
      {{else}}
        <div class="addDrinkButtonWrapper">
          <span class="addDrinkButtonText">Add Drink</span>
          <button class="putOnTabButton-Enabled"{{action 'addToCart'}}><i class="fa fa-plus"></i></button>
        </div>
    {{/if}}

    <br>

    {{#each drink.tags as |tag|}}
      {{#if (eq tag.name 'Top 25')}}
        <span class='drink_tag'>TOP 25</span>
      {{/if}}
      {{#if (eq tag.name 'cat_60s_era_cocktails')}}
        <span class='drink_tag'>MAD MEN SPECIAL</span>
      {{/if}}
      {{#if (eq tag.name 'occ_partynight')}}
        <span class='drink_tag'>PARTY NIGHT</span>
      {{/if}}
    {{/each}}


    <img src="http://assets.absolutdrinks.com/drinks/transparent-background-black/floor-reflection/300x400/{{drink.id}}.png"  onerror="this.style.display='none'" alt="{{drinkName}}" />
    <p>
      {{#each drinkTastes as |tastes|}}
      <span class="centerText">{{tastes.text}}!</span>
      {{/each}}
    </p>
  </div>
  <p>{{drinkCategory}}</p>
  {{#if drinkOccasions}}
  <p>Perfect for
    {{#each drinkOccasions as |occasions|}}
    {{capitalizeHelper occasions.id}} drinks!
    {{/each}}
  </p>
  {{/if}}
  <h3>Instructions</h3>
  <ul>
    <li><b>Served in - {{drinkServedIn}}</b></li>
    {{#each drinkInstructions as |instructions|}}
    <li>{{instructions}}</li>
    {{/each}}
  </ul>
  <h3>Tools</h3>
  {{#each drinkTools as |tool|}}
  <p>{{tool.text}}</p>
  {{/each}}

  <h3>Ingredients</h3>
  {{#each drinkIngredients as |ingredient|}}
  <p>{{ingredient.textPlain}}</p>
  {{/each}}
  {{#if drinkVideo}}
  <iframe class="youtube" src="http://www.youtube.com/embed/{{drinkVideo}}"  title="Drinks!" allowfullscreen frameborder="0"></iframe>
  {{/if}}

</div>

{{else}}
  <h1 class="drinkTitle"{{action 'open'}}>{{drinkName}}</h1>

{{/if}}
